.slides img {
    opacity: rgba(0, 0, 0, 0.3);
}

section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#models h2 {
    padding-bottom: 20px;
}


#form-panel {
    width: 60%;
    margin: 0 auto;
}

.card-button {
    padding-bottom: 20px;
    padding-right: 20px;
}

.horizontal img {
    padding: 20px;
}

.card img {
    height: 400px;
    object-fit: cover;
}



.sidenav .collapsible-body {
    padding-left: 30px;
}

.sidenav .collapsible-header {
    padding-left: 30px;
}

/* Media Queries*/

@media (max-width: 720px) {
    iframe {
        width: 400px;
        height: 220px;
    }

    #form-panel {
        width: 100%
    }
}